@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@400;600&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'JetBrains Mono', monospace;
}

.container {
  width: 100%;
  display: flex;
  padding: 15px;
}

.aside {
  width: 100%;
  padding: 7px 0 0 0;
}

.info p {
  font-size: 13px;
  color: lightgray;
}